*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
#root{
	display: flex;
	flex-direction: column;
}
body {
	background: #333;
	font-size: 16px;
}

.subtitle {
	margin-top: 0;
	margin-left: 0;
	color: #9E9E9E;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
}

.header {
	background-color: #141414;
	background-position: center;
	background-size: cover;
	flex: 0;
	padding-left: 30px;

}

.header .header-content {
	display: flex;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	justify-content: space-between;
}

.navigation {
	font: 16pt 'BaronNeue';
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
}
.navigation a{
	text-decoration: none;
	color: #616161;
}
.navigation a:hover{
	text-decoration: underline;
	color: #FFF;
}
.sitemark{
	flex-grow: 1;
	margin-left: 30px;
}
.headerbuffer{
	flex-grow: 2;
}

.site-title {
	font: 24pt 'BaronNeue';
}
h3{
	font: 16pt 'BaronNeue';
}
p{
	font: 14pt 'ChaparralPro-Regular';
}
#intro{
	height: 500px;
}
#contact{
	height: 700px;
}
.site-title a{
	text-decoration: none;
	color: #FFF;
}
.site-subtitle{
	font: 12pt 'ChaparralPro-LightIt';
	color: #FFF;
}
.content{
	display: flex;
	flex-flow: column nowrap;
	background-color: #fff;
	color: #000;
	flex-grow: 1;
}
.screen {
	display: flex;
	flex-grow: 1;
	min-height: 100%;
	padding: 30px;
	background-color: #E2DED5;
	min-height: 0px;
	min-width: 0px;
}

.footer{
	text-align: center;
	padding: 56px 0;
	background-color: #141414;
	background-position: center;
	background-size: cover;
	flex: 0;
}

.footer p{
	margin: 0 0 8px 0;
	font-size: 14px;
	color: #FFF;
}

.footer a{
	color: #FFF;
	text-decoration: none;
	font-weight: 700;
}

@media (max-width: 767px){
	.add-post-button{
		float: left;
		margin-top: 16px;
	}
}

* {
  min-height: 0;
  min-width: 0;
}
